.idea
Stanford3dDataset_v1.2_Aligned_Version/
utils/cpp_wrappers/cpp_subsampling/build/
utils/cpp_wrappers/cpp_subsampling/grid_subsampling.cpython-35m-x86_64-linux-gnu.so
utils/nearest_neighbors/build/
utils/nearest_neighbors/knn.cpp
utils/nearest_neighbors/lib/
models/
DepthCamera_2021-03-19-00-53-58.json
DepthCamera_2021-03-19-00-54-01.json
DepthCapture_2021-03-19-00-53-58.png
DepthCapture_2021-03-19-00-54-01.png
ScreenCamera_2021-03-19-00-54-00.json
ScreenCapture_2021-03-19-00-54-00.png
__pycache__/
data/
log_test_Area_1.txt
log_train_S3DISArea_1.txt
train_log/

test/
